.hidden {
    display: none!important;
}

body {
    background: linear-gradient(to bottom, #474168, #272637);
    margin: 0;
    

}

.add {
    background: linear-gradient(to bottom, #474168, #272637);
    margin: 0;
    height: 100vh;
}

.navbar {
    padding-left: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    position: relative;
    background-color: #f9c4ac;
    
}

.inner-navbar {
    display: flex;
    position: absolute;
    right: 100px;
    margin-top: 25px;
}

button {
    width: 100px;
    height: 35px;
    margin-right: 20px;


}

.product-list {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 25px;
}

.add-product {
    width: 750px;
    margin-top: 25px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
}

.product {
    background-color: #626f92;
    border: 1px solid #626f92;
    border-radius: 10px;
    padding: 25px;
    text-align: center;
    
}

.product strong {
    color: #b7b7b7;
}

.product p {
    color: #fae3e3;
}

.submit-button {
    display: none;
}

h1 {
    color: #3d0240;
}

label {
    color: #b7b7b7;
    padding-top: 15px;
    padding-bottom: 10px;
}

#book-fields, #dvd-fields, #furniture-fields {
    display: grid;
}

h5 {
    color: #fae3e3;
    font-size: 20px;
}

input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border-color: #272637;
}

select {
    padding: 5px;
    border-radius: 5px;
    border-color: #272637;
}

.delete-checkbox {
    display: flex;
}


footer {
    padding: 25px;
    text-align: center;
    color: #b7b7b7;
    border-top: 1px solid #b7b7b7;
    margin-top: 25px;
}

button {
    color: #fae3e3;
    background-color: #626f92;
    border: #626f92;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: #fae3e3;
}
