<!DOCTYPE html>
<html>
<head>
    <title>Add a product</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Include jQuery library -->
    <script src="../index.js"></script>
</head>
<body>
    <form method="post" action="../Product/addproduct.php">

        <div>
            <h1> Add a Product</h1>
            <input type="submit" value="Save">
            <button type="button"> Cancel</button>
        </div>

        <label for="sku">SKU:</label>
        <input type="text" name="sku" id="sku" required>

        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required>

        <label for="price">Price($):</label>
        <input type="number" name="price" id="price" required>

        <label for="type">Type:</label>
            <select id="type" name="type">
                <option value="">Select a type</option>
                <option value="book">Book</option>
                <option value="dvd">DVD</option>
                <option value="furniture">Furniture</option>
            </select>

            <div id="book-fields" class="hidden">
                <label for="weight">Weight:</label>
                <input type="number" id="weight" name="weight">
              </div>
              
              <div id="dvd-fields" class="hidden">
                <label for="size">Size:</label>
                <input type="text" id="size" name="size">
              </div>
              
              <div id="furniture-fields" class="hidden">
                  <label for="height">Height:</label>
                  <input type="number" id="height" name="height">
              
                <label for="width">width:</label>
                <input type="number" id="width" name="width">
              
                <label for="length">Length:</label>
                <input type="number" id="length" name="length">
              </div>

    </form>
</body>

